- if (current_user.owner? post) || !comment.insulting
  %li.post__comment{ class: ("post__comment--insulting" if comment.insulting) }
    %h3
      = comment.user.to_s
      - unless defined? dont_see_comment
        %small
          = link_to "see comment", post_comment_path(post, comment)
      %span.comment__votes= "Votes #{comment.votes_val}"
      = link_to "dislike", post_comment_dislike_path(post, comment), method: :post, class: "vote__button--dislike"
      = link_to "like", post_comment_like_path(post, comment), method: :post, class: "vote__button--like"
    - if comment.user == current_user
      = link_to "delete", post_comment_path(post, comment), method: :delete, class: "comment__button--delete"
      = link_to "edit", edit_post_comment_path(post, comment), class: "comment__button--edit"
    - if (current_user.owner? post) && comment.insulting
      = link_to "Heey, that's not insulting", post_comment_uninsult_path(post, comment), method: :post, class: "comment__button--uninsult"
    %p= comment.multiline_body.html_safe